## Ignore Visual Studio Code files,
## files of external libraries and
## message files created by MiQUBase

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# External libraries
vendor/

# Message files
error.php
message.php

# Files uploaded in MiQUBase
uploads/*

# Configuration file
conf/config.ini