## Ignore Visual Studio Code files,
## files of external libraries and
## message files created by MiQUBase

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# External libraries
php/externalclasses/*

# Message files
message/*

# Files uploaded in MiQUBase
uploads/*

# Configuration file
conf/config.ini